# Git
.git
.gitignore
.github/

# Entorno
.env
.env.example
venv/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/

# Docker
Dockerfile
Dockerfile.ollama
docker-compose.yml

# Docs
doc/
*.md