langchain
langchain-core
langchain-community

langchain-ollama
langchain-groq
langchain-huggingface
langchain-google-genai

faiss-cpu

fastapi
uvicorn
langserve
sse_starlette

streamlit
requests

pypdf
pymupdf
selenium
bs4

# Configuramos la descarga de Torch como CPU only
# Esto es para evitarnos la descarga de CUDA
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers

pytest
pytest-cov
pytest-asyncio